* {
	margin: 0;
}

/* font-family: 'Inter', sans-serif; заменить на это!!! */

body {
	background-color: #2a2c2f;
}
/* header */
.header__wrapper {
	width: 1184px;
	display: flex;
	padding: 30px 0px 48px 0;
	margin: 0 auto;
	justify-content: space-between;
}

.header__logo {
	width: 176.575px;
	height: 52px;
}
.lang {
	display: flex;
	gap: 18px;
	align-items: center;
}
.header__lang {
	color: #fff;
	text-align: right;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	text-decoration-line: underline;
}

/* girl sleep in the train */

.lead {
	width: 985px;
	margin: 0 auto;
}

.title {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 96px;
	font-weight: 900;
}

.subtitle {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 30px;
	font-weight: 400;
	margin: 48px 0 78px 0;
}

.lead__udner-text {
	color: #fff;
	font-family: Inter;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 10.87px 0 0 0;
}

/* what we don't see */

.intro {
	width: 984px;
	margin: 0 auto;
	padding-top: 80px;
}
.intro__title {
	color: #fff;
	font-family: Inter;
	font-size: 54px;
	font-weight: 900;
}
.intro__subtitle {
	color: #fff;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	padding: 45px 0 35px 0;
}
.intro__text__wrapper {
	width: 683px;
}
.content__row {
	display: flex;
	gap: 18px;
}
.intro__text {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 169.432%;
}
.intro__text-right__up {
	color: #fff;
	font-family: Inter;
	font-size: 10px;
	font-weight: 700;
	line-height: 157.33%;
}
.intro__text-right_down {
	color: #fff;
	font-family: Inter;
	font-size: 10px;
	font-weight: 800;
	line-height: 157.33%;
}

.intro__name-date {
	color: #fff;
	font-family: Inter;
	font-size: 10px;
	font-weight: 400;
}

.intro__info {
	color: #fff;
	font-family: Inter;
	font-size: 13px;
	font-weight: 700;
	line-height: 157.33%;
	padding-top: 35px;
}

.intro__info__numbers {
	color: #fff;
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
}

/* images */
.photo__grid {
	display: grid;
	grid-template-columns: 284px 284px 284px 284px;
	gap: 18px;
	margin: 92px 0;
	justify-content: center;
}

/* palces description */

.places {
	width: 984px;
	margin: 0 auto;
}

.place {
	margin-top: 72px;
}
.place__header {
	display: flex;
}
.places__title {
	color: #fff;
	font-family: Inter;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%;
	width: 457px;
	margin-bottom: 60px;
}

.place__url__heading {
	color: #aaa;
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 169.432%;
	letter-spacing: 2.4px;
}
.place__url-wrapper {
	margin: 0 0 60px 43px;
	height: 46px;
	align-self: self-end;
}
.place__url {
	color: #fff;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
	text-decoration-line: underline;
	margin-bottom: 16px;
}
.place__info {
	display: flex;
}
.place__image {
	width: 460px;
	height: 460px;
}
.place__info-text {
	color: #fff;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
	margin-left: 40px;
}

.place__info-text-up {
	padding-bottom: 36px;
	display: flex;
	justify-content: flex-start;
}

/* video */

.video {
	width: 1184px;
	padding-top: 102px;
	margin: 0 auto;
}
.video__title-content {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 72px;
	font-weight: 900;
	line-height: 108.92%;
}
.video__subtitle-content {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 48px 0 72px 0;
}

.video__content {
	display: flex;
	justify-content: space-between;
}

.video__play {
}

.video__button {
	position: absolute;
	margin: 30px 0 0 30px;
}
.duration {
	color: #fff;
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 108.92%; /* 13.07px */
	letter-spacing: 3.6px;
	position: absolute;
	margin: 165px 0 0 30px;
}
.video__title {
	color: #fff;
	font-family: Inter;
	font-size: 36px;
	font-weight: 900;
	line-height: 108.92%; /* 39.211px */
	position: absolute;
	width: 322px;
	margin: 189px 0 0 30px;
}
.video__subtitle {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 108.92%; /* 15.249px */
	position: absolute;
	margin: 280px 0 0 30px;
}

/* additional */

.additional {
	margin: 102px 0;
}
.additional__title {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%; /* 65.352px */
}
.additional__subtitle {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%; /* 34.855px */
	margin: 48px 0 72px 0;
}

.additional__row {
	display: grid;
	grid-template-columns: 284px 284px 284px 284px;
	gap: 16px;
	justify-content: center;
}

.additional__card-title {
	position: absolute;
	width: 248px;
	color: #fff;
	font-family: Inter;
	font-size: 27px;
	font-weight: 900;
	line-height: 108.92%; /* 29.409px */
	margin: 30px 18px;
}
.additional__card-text {
	position: absolute;
	width: 248px;
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 145.227%; /* 20.332px */
	margin: 226px 0 0 18px;
}

/* comments */

.comments__title {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%; /* 65.352px */
}

.comments__subtitle {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%; /* 34.855px */
	margin: 48px 0 71px 0;
}

.comments__container {
	display: flex;
	justify-content: center;
	gap: 19px;
}

.comment {
	width: 382px;
}
.comment__ava {
	margin-bottom: 42px;
}
.quote {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 169.432%; /* 23.72px */
	display: flex;
}
.quote__author {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 900;
	line-height: 169.432%; /* 23.72px */
	margin-top: 24px;
}

/* cover with trains */

.cover {
	margin: 102px 0 82px 0;
	display: flex;
	justify-content: center;
}

.cover__title {
	position: absolute;
	color: #fffdfd;
	text-align: center;
	font-family: Inter;
	font-size: 72px;
	font-weight: 900;
	line-height: 108.92%; /* 78.423px */
	margin: 274px 0 0 0;
}
.cover__subtitle {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 145.227%; /* 26.141px */
	margin: 477px 0 0 0;
}

/* emblem */

.emblem__wrapper {
	width: 1184px;
	margin: 0 auto;
}

.emblem__title {
	color: #fff;
	font-family: Inter;
	font-size: 42px;
	font-weight: 900;
	line-height: 108.92%; /* 45.747px */
}

.emblem__container {
	display: flex;
	justify-content: space-between;
	margin-top: 82px;
}

.emblem__text {
	display: flex;
	justify-content: center;
	color: #ccc;
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 108.92%; /* 26.141px */
	margin-top: 35px;
}
