* {
	margin: 0;
}

body {
	background-color: #2a2c2f;
}
/* header */
.header__wrapper {
	width: 1184px;
	display: flex;
	padding: 30px 0px 48px 0;
	margin: 0 auto;
	justify-content: space-between;
}

.header__logo {
	width: 176.575px;
	height: 52px;
}
.lang {
	display: flex;
	gap: 18px;
	align-items: center;
}
.header__lang {
	color: #fff;
	text-align: right;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-decoration-line: underline;
}

/* girl sleep in the train */

.lead {
	width: 985px;
	margin: 0 auto;
}

.title {
	width: 782px;
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 96px;
	font-weight: 900;
	margin: 0 auto;
}

.subtitle {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 48px 0 78px 0;
}
.img__girl-in-train {
	width: 984px;
}
.lead__udner-text {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 10.87px 0 0 0;
}

/* what we don't see */

.intro {
	width: 984px;
	margin: 0 auto;
	padding-top: 80px;
}
.intro__title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 54px;
	font-weight: 900;
}
.intro__subtitle {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	padding: 45px 0 35px 0;
}
.intro__text__wrapper {
	width: 683px;
}
.content__row {
	display: flex;
	gap: 18px;
}
.intro__text {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 169.432%;
}
.intro__text-right__up {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	font-weight: 700;
	line-height: 157.33%;
}
.intro__text-right_down {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	font-weight: 800;
	line-height: 157.33%;
}

.intro__name-date {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	font-weight: 400;
}

.intro__info {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 157.33%;
	padding-top: 35px;
}

.intro__info__numbers {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 400;
}

/* images */
.grid__img {
	width: 284px;
	height: 188px;
}
.photo__grid {
	display: grid;
	grid-template-columns: 284px 284px 284px 284px;
	gap: 18px;
	margin: 92px 0;
	justify-content: center;
}

/* palces description */

.places {
	width: 984px;
	margin: 0 auto;
}

.place {
	margin-top: 72px;
}
.place__header {
	display: flex;
}
.places__title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%;
	width: 457px;
	margin-bottom: 60px;
}

.place__url__heading {
	color: #aaa;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 169.432%;
	letter-spacing: 2.4px;
}
.place__url-wrapper {
	margin: 0 0 60px 43px;
	height: 46px;
	align-self: self-end;
}
.place__url {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
	text-decoration-line: underline;
	margin-bottom: 16px;
}
.place__info {
	display: flex;
}
.place__image {
	width: 460px;
	height: 460px;
}
.place__info-text {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
	margin-left: 40px;
}

.place__info-text-up {
	padding-bottom: 36px;
	display: flex;
	justify-content: flex-start;
}

/* video */

.video {
	width: 1184px;
	padding-top: 102px;
	margin: 0 auto;
}
.video__title-content {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 108.92%;
}
.video__player-img {
	width: 583px;
	height: 323px;
}
.video__subtitle-content {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 48px 0 72px 0;
}

.video__content {
	display: flex;
	justify-content: space-between;
}

.video__button {
	position: absolute;
	margin: 30px 0 0 30px;
}
.duration {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 108.92%;
	letter-spacing: 3.6px;
	position: absolute;
	margin: 165px 0 0 30px;
}
.video__title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 900;
	line-height: 108.92%;
	position: absolute;
	width: 322px;
	margin: 189px 0 0 30px;
}
.video__subtitle {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 108.92%;
	position: absolute;
	margin: 280px 0 0 30px;
}

/* additional */

.additional {
	margin: 102px 0;
}
.additional__title {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%;
}
.additional__subtitle {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 48px 0 72px 0;
}

.additional__row {
	display: grid;
	grid-template-columns: 284px 284px 284px 284px;
	gap: 16px;
	justify-content: center;
}
.additional__img {
	width: 284px;
	height: 330px;
}
.additional__card-title {
	position: absolute;
	width: 248px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 27px;
	font-weight: 900;
	line-height: 108.92%;
	margin: 30px 18px;
}
.additional__card-text {
	position: absolute;
	width: 248px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 226px 0 0 18px;
}

/* comments */

.comments__title {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 90.767%;
}

.comments__subtitle {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 48px 0 71px 0;
}

.comments__container {
	display: flex;
	justify-content: center;
	gap: 19px;
}

.comment {
	width: 382px;
}
.comment__ava {
	margin-bottom: 42px;
}
.quote {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 169.432%;
	display: flex;
}
.quote__author {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 900;
	line-height: 169.432%;
	margin-top: 24px;
}

/* cover with trains */
.img__to-Baikal {
	width: 1184px;
}
.cover {
	margin: 102px 0 82px 0;
	display: flex;
	justify-content: center;
}

.cover__title {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 72px;
	font-weight: 900;
	line-height: 108.92%;
	margin: 274px 0 0 0;
}
.cover__subtitle {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 477px 0 0 0;
}

/* emblem */

.emblem__wrapper {
	width: 1184px;
	margin: 0 auto;
}

.emblem__title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: 108.92%;
	width: 443px;
}

.emblem__container {
	display: flex;
	justify-content: space-between;
	margin-top: 82px;
}
.emblem__img {
	width: 180.134px;
	height: 226px;
}
.emblem__text {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #ccc;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 108.92%;
	margin-top: 35px;
}

/* map near footer */

.barentsburg {
	width: 1184px;
	margin: 85px auto 0;
}
.barentsburg__title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: 145.227%;
	margin-left: 48px;
}
.barentsburg__subtitle {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 42px;
	font-weight: 400;
	line-height: 145.227%;
	margin: 20px 0 48px 48px;
}
.map {
	width: 1184px;
}
.barentsburg__under-container {
	display: flex;
	margin: 48px 0 0 50px;
}
.barentsburg__text {
	width: 380px;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
}
.barentsburg__website {
	margin-left: 120px;
}
.barentsburg__url-header {
	color: #aaa;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 169.432%;
	letter-spacing: 2.4px;
	margin-bottom: 12px;
}
.barentsburg__url {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 169.432%;
	text-decoration-line: underline;
}

/* footer */
.footer {
	margin: 160px auto 0 auto;
	padding: 0 0 48px 0;
	width: 1184px;
	display: flex;
	justify-content: space-between;
}
.footer__links {
	display: flex;
	gap: 18px;
	list-style-type: none;
	padding: 0;
}
.footer__link {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 169.432%;
	text-decoration: none;
}
.footer__copyright {
	color: #fff;
	text-align: right;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 145.227%;
	display: flex;
	align-items: center;
}

:root {
	scroll-behavior: smooth;
}

/* adaptive 1280px */

@media screen and (max-width: 1024px) {
	.header__wrapper {
		width: 928px;
	}
	.title {
		width: 928px;
	}
	.img__girl-in-train {
		width: 928px;
	}
	.lead {
		width: 928px;
	}
	.intro {
		width: 928px;
	}
	.photo__grid {
		grid-template-columns: 300px 300px 300px;
	}
	.place__image {
		width: 440px;
		height: 440px;
	}
	.places {
		width: 928px;
	}
	.video {
		width: 928px;
	}
	.video__player-img {
		width: 456px;
		height: 288px;
	}
	.duration {
		margin-top: 125px;
	}
	.video__title {
		margin-top: 149px;
	}
	.video__subtitle {
		margin-top: 240px;
	}
	.additional {
		width: 991px;
	}
	.additional__img {
		width: 240px;
		height: 280px;
	}
	.additional__row {
		grid-template-columns: 240px 240px 240px 240px;
		gap: 10px;
	}
	.additional__card-title {
		margin: 24px 16px 0 16px;
		width: 208px;
		word-break: break-all;
	}
	.additional__card-text {
		width: 210px;
		margin: 184px 14px 16px 16px;
	}
	.comment {
		width: 928px;
	}
	.quote {
		width: 296px;
	}
	.img__to-Baikal {
		width: 1024px;
	}
	.emblem__wrapper {
		width: 945.411px;
	}
	.emblem__img {
		width: 159.411px;
		height: 200px;
	}
	.barentsburg {
		width: 1024px;
	}
	.map {
		width: 1024px;
	}
	.barentsburg__title {
		margin-left: 49px;
	}
	.barentsburg__subtitle {
		margin-left: 49px;
	}
	.barentsburg__under-container {
		margin-left: 51px;
	}
	.footer {
		width: 929px;
	}
}

/* adaptive 1024px */

@media screen and (max-width: 1024px) {
	.header__wrapper {
		width: 928px;
	}
	.lead {
		width: 928px;
	}
	.title {
		width: 928px;
	}
	.subtitle {
		width: 928px;
	}
	.img__girl-in-train {
		width: 928px;
		height: 554px;
	}
	.intro {
		width: 928px;
	}
	.photo__grid {
		margin: 92px auto;
		width: 928px;
		grid-template-columns: 300px 300px 300px;
		gap: 14px;
	}
	.grid__img {
		width: 300px;
		height: 200px;
	}
	.places {
		width: 928px;
	}
	.place__image {
		width: 440px;
		height: 440px;
	}
	.video {
		width: 928px;
	}
	.video__player-img {
		width: 456px;
		height: 288px;
	}
	.video__content {
		width: 928px;
	}
	.additional {
		width: 991px;
		margin: 102px auto;
	}
	.additional__img {
		width: 240px;
		height: 280px;
		grid-template-columns: 240px 240px 240px 240px;
		gap: 10px;
	}
	.additional__card-text {
		width: 210px;
		margin-top: 160px;
	}
	.additional__card-title {
		width: 208px;
	}
	.comments__title {
		width: 928px;
	}
	.comments__container {
		width: 925px;
		margin: 0 auto;
	}
	.cover {
		width: 1024px;
		height: 590px;
	}
	.emblem__wrapper {
		width: 945.411px;
	}
	.barentsburg {
		width: 1024px;
	}
	.map {
		width: 1024px;
		height: 464px;
	}
	.barentsburg__website {
		margin-left: 90px;
	}
	.footer {
		width: 929px;
	}
}

/* adaptive 768px */
@media screen and (max-width: 768px) {
	.header__wrapper {
		width: 720px;
	}
	.lead {
		width: 768px;
	}
	.title {
		width: 720px;
	}
	.subtitle {
		width: 720px;
	}
	.img__girl-in-train {
		width: 768px;
		height: 420px;
	}
	.lead__udner-text {
		margin-left: 24px;
	}
	.intro {
		width: 720px;
	}
	.content__row {
		display: table;
	}
	.intro__text-right__up {
		margin-top: 39px;
	}
	.grid__img {
		width: 352px;
		height: 234px;
	}
	.photo__grid {
		grid-template-columns: 352px 352px;
		margin: 92px auto;
		width: 720px;
		gap: 16px;
	}
	.places {
		width: 720px;
	}
	.places__title {
		font-size: 42px;
		line-height: 108.92%;
	}
	.place__info-text {
		font-size: 16px;
	}
	.video {
		width: 720px;
	}
	.video__title-content {
		font-size: 42px;
	}
	.video__subtitle-content {
		font-size: 24px;
		margin: 24px 0 56px 0;
	}
	.video__content {
		width: 720px;
	}
	.video__player-img {
		width: 352px;
		height: 200px;
	}
	.video__button {
		margin: 24px 0 0 24px;
	}
	.duration {
		margin: 82px 0 0 24px;
	}
	.video__title {
		font-size: 24px;
		margin: 102px 0 0 24px;
	}
	.video__subtitle {
		font-size: 14px;
		margin: 160px 0 0 24px;
	}
	.additional {
		width: 640px;
	}
	.additional__title {
		font-size: 42px;
		margin: 0 auto;
	}
	.additional__subtitle {
		font-size: 24px;
		margin: 24px 0 56px 0;
	}
	.additional__row {
		grid-template-columns: 284px 284px;
		gap: 16px;
	}
	.additional__img {
		width: 284px;
		height: 330px;
	}
	.comments__title {
		margin: 0 auto;
		width: 660px;
		font-size: 42px;
		line-height: 108.92%;
	}
	.comments__subtitle {
		width: 640px;
		font-size: 24px;
		margin: 24px auto 66px auto;
	}
	.comments__container {
		width: 344px;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}
	.comment {
		width: 344px;
	}
	.comment__ava {
		display: flex;
		margin: 0 auto;
	}
	.quote {
		margin: 0 auto;
	}
	.quote__author {
		display: flex;
		justify-content: center;
	}
	.cover {
		width: 768px;
		height: 500px;
	}
	.img__to-Baikal {
		width: 768px;
		height: 500px;
	}
	.cover__title {
		width: 720px;
		margin-top: 126px;
	}
	.cover__subtitle {
		width: 382px;
		margin-top: 380px;
	}
	.emblem__wrapper {
		width: 720px;
	}
	.emblem__title {
		margin-left: 24px;
		width: 658px;
	}
	.emblem__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 57px;
		margin-left: 35px;
	}
	.emblem__img {
		width: 180.134px;
	}
	.barentsburg {
		width: 768px;
	}
	.map {
		width: 768px;
		height: 362px;
	}
	.barentsburg__website {
		margin-left: 24px;
	}
	.footer {
		max-width: 722px;
	}
	.footer__link {
		font-size: 16px;
	}
}
